@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Island+Moments&family=Lobster&family=Poppins&family=Roboto:wght@400;500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.nav-span{
   color: coral;
}