@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Island+Moments&family=Lobster&family=Poppins&family=Roboto:wght@400;500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.nav-span{
   color: coral;
}
.main-list li{
list-style: none;
}
.main-card-3{
    background-color: #3F87F5;
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgb(224, 182, 182);
}
footer{
    background-color: rgb(14, 1, 1);
    height: 150px;
}
